<!Doctype>
<html>
<head>
    
    <meta charset="utf-8">
        
    <!-- Setting the webpage's headline -->
       <h1>Cost & Revenue</h1>
       <link rel="stylesheet" type="text/css" href="css/cost.css" />

  </head>

<body>
    
    <div id="container">
        <div class="cost">
            <p class="pee"> Cost </p>
            Material cost per unit:<br><br>
            Cost of camera is $2.90 for one unit (if cameras are purchased in bulk).<br>
            Cost of scale is $4.00 for one unit (if scale is purchased in bulk).<br>
            Cost of microcontroller $17<br>
            Cost of raw materials for assembly $6<br><br>
            Labor per unit - Programming, Manufacturing, WebDev - ~($250,000/yr labor costs)/(15,000 units sold per year) = $16.66<br>

                  Total Costs: ~$46.56<br><br>
            Marketing costs in order to receive new customers per year $40,000 per year.<br>

                  
                

            

            </div>
        
        <div class="revenue">
            <p class="pee"> Revenue </p>
            Channels:<br><br>
            a. Brick and mortar retail stores such as Walmart<br>
            Expected revenue = 5000 units * ($46.56 + $2.00) = $242,800<br>
            b. Online retailer such as Amazon<br>
            Expected revenue = 8000 units * ($46.56 + $2.00) = $388,480<br>
            c. Company website<br>
            Expected revenue = 2000 units * ($46.56 + $2.00) = $97,120<br><br>
            

            Revenue streams:<br><br>
            a. The integrated app will have a monthly subscription $2.00<br>
            b. One time price for purchasing the hardware product $46.56<br>

            </div>
        
        </div>
    
    </body>
</html>

