

<head>
    
    <meta charset="utf-8">
        
    <!-- Setting the webpage's headline -->
       <h1>Welcome to the Snail Scale Homepage</h1>
       <link rel="stylesheet" type="text/css" href="css/agile.css" />

  </head>


<div class="butt">
    <a href="./home">
        <button class="nextto">
            Product page
                </button>
    </a>
    <a href="./kvp">
        <button class="nextto">
            KVP page
        </button>
    </a>
</div>


<!-- ass6 -->
<div class="butt">
    <a href="./part1">
        <button class="nextto">
            Top Features
                </button>
    </a>
    <a href="./part2">
        <button class="nextto">
            User Interaction
        </button>
    </a>
    <a href="./cost">
        <button class="nextto">
            Cost & Revenue
                </button>
    </a>
    <a href="./pivot">
        <button class="nextto">
            Pivoting
                </button>
    </a>
</div>
<hr>


<div class="offers">
  <p class="txt">Choose your package</p>
  <button class="off">
     The scale only for $50
    </button>
  <button class="off">
     The scale + annual subscription for $60
    </button>
  <button class="off">
     The scale + annual subscription + meal plan for $70
    </button>
</div>
<hr>
<div class="part1">
    <ul>
       <li>What basic information does a typical user need to have access to on first interaction with your product?<br><br>
           The user will need to have access to a power supply to connect the device to it.
           A flat surface to place the scale on.<br>
           Turn on the device by clicking the power button.<br>
           Choose the desired units of measurement.<br>
           The user is ready to use the scale and read off the desired information on the screen.<br><br>
</li>
      <li>What IA Design Principles (Dan Brown) are important for your product?<br><br>
          Principle of choices:<br>
          The user will interact with only choices that are meaningful such as an on/off switch, tare button which is used for zeroing the scale and change of units.<br><br>
              Principle of growth:<br>
          While our product provides fundamental information about the food for now such as calories, protein, fat and carbs. We have the plan to extend the services of the product to provide diet tracking,  optional diet plans for the user and detect more food options.<br><br>
          Principle of focused navigation:<br>
          We designed the product to be clear and convenient for the user where we have only three buttons that the user interacts with such as the power supply, unit option and tare button. There is no complexity in using the scale since the user will place the food and the desired information will be displayed in the same fashion for every object.<br><br>
</li>
      <li>Which structural Organizational Principle(s) make(s) the most sense for your product?<br><br>
          Sequential:<br><br>
          The user will follow a sequence of steps which stay consistent and don’t change which will make the user experience simple and convienient.
</li>
      
   </ul>
    
    </div>
<hr>
<h2 class="hi"> Image 1 </h2>
    <img src="../images/plate.jpeg" width="500" height="600" class="cen">
        
<hr>
<h3 class="hi"> Image 2 </h3>
<img src="../images/sketch.jpeg" width="500" height="600" class="cen">
    <hr>
    <h4 class="hi"> Image 3 </h4>
    <img src="../images/sket.jpeg" width="500" height="600" class="cen">
<hr>
    <div class="members">
        <ul>
           <li>Jacob's Law: The design of  our product is in a form similar to a regular food scale. The design is a wide open plate. Our design is not meant to push stylistic boundaries, but instead provide a minimalistic design approach to a complex task. This is reflected in the single pillar that houses both the camera and the light, as to not take up more space than needed. As illustrated in image 3.</li>
          <li>Law of Proximity: The product is designed with buttons grouped responsible for the operations of power toggling, tare, changing units from grams to oz, and taking images. Also, the camera and light source are placed together on the tower, and all electronics are hidden underneath the cylindrical outer shell. Steve Jobs would be proud. As illustrated in image 2.</li>
          <li>Hick's Law: We made our UI simple while still being easy to use for the user. Most of the electronics are hidden besides the camera lens, the light, and the scale interface. We designed it to be perceived as a singular 'unit' rather than some complex device. The selection menu would allow the user to take images, view current measurements, select food options and criteria,
              and see food nutritional info (perhaps externally). As illustrated in images 1, 2 and 3.
</li>
          
       </ul>
        </div>
<div class="members">
   Team members:
   <ul>
      <li>Dallas Dominguez</li>
     <li>Sepehr Bostan</li>
     <li>Nihal Azeez</li>
     <li>Salman Noori</li>
  </ul>
</div>


