
<!Doctype>
<html>
<head>
    
    <meta charset="utf-8">
        
    <!-- Setting the webpage's headline -->
       <h1>Pivoting</h1>
       <link rel="stylesheet" type="text/css" href="css/pivot.css" />

  </head>

<body>
    <div class="text">
        Customer needs pivot 1: <br>
        We have decied to change the layout of the website. We have a confirmation box on the website, where the user confirms that the detect obejct is corrrect, and initially we displayed the nutrition facts on the left side and the confirmation box in the middle, but then switched the order so the confirmation is first and then the nutrition facts are displayed. This way the customer is mapped to simple steps of confirming first and then seeing the nutrition facts.<br><br>
        Customer needs pivot 2: <br>
        In the middle of the quarter, we have decided to install the buttons responsible for the device on the device itself such as the power on/off button, choosing unit button and resetting button, and the buttons responsible for the data on the website such as adding, subtracting, and summing the nutrition facts.<br><br>
        Business architecture pivot: <br>
        According to marketing studies, customers are more likely to buy a product if the price ends with an odd decimal and thus we changed our unit price from $50.00/unit + $2.00/subscription to $49.99/unit + $1.99/subscription
        
        </div>

    
    </body>
</html>

